body {
    border-block-color: aquamarine, deeppink;
    background: url(../Images/Tattooing.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: deeppink;
    text-align: center;
}
h2 {
    color: hotpink
}
p {
    
    color: deeppink;
}
a {
    color: deeppink;
}
p3{
    font-size: 20px;
    word-spacing: 6px;
    color: deeppink;
    text-align: center;
}